.page-wrapper {
  font-family: 'Outfit', sans-serif;
  display: flex;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 5rem 0.5rem 10rem;
}
.form-wrapper input {
  margin: 1rem 0;
  padding: 0.5rem 0;
}

.title-wrapper {
  padding: 1rem 10rem 0;
  font-family: 'Outfit', sans-serif;
}
.title-wrapper h1 {
  font-size: 36px;
}
.contact-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.social-wrapper {
  display: flex;
  justify-content: space-around;
}
.social-wrapper * {
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  align-self: center;
}
.socials-text {
  display: flex;
  flex-direction: column;
}

.interaction-wrapper {
  width: 60%;
}

.map-wrapper {
  width: 25rem;
  height: 25rem;
  margin: 2rem 3rem 0rem 0rem;
}
#map {
  width: 100%;
  height: 100%;
}

#send-button {
  background-color: rgb(211, 0, 0);
  color: white;
  text-align: center;
  border: none;
  width: 75%;
  font-weight: bold;
  border-radius: 4px;
  align-self: center;
  padding: 0.5rem 1rem;
}
#send-button:hover {
  background-color: black;
  cursor: pointer;
}
#form-textarea {
  margin: 1rem 0;
  padding: 0.5rem 0;
}

@media screen and (max-width: 950px) {
  .title-wrapper {
    padding: 0 0.5em;
  }
  .form-wrapper {
    padding: 0 0.5em;
  }
  .top-wrapper {
    display: flex;
  }
  #map {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  .map-wrapper {
    display: flex;
    margin: 0;
    padding: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
  }
}
