.cart-container { 
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    display: block;
    background-color: black;
    margin-left: auto;
    margin-right: 0;
    z-index: 3;

}
.cart-title { 
    color: white;
    text-align: center;
}
.cart-top-container { 
    
}
.cart-close-button {
    
} 