@import 'productdisplay.css';


.products-container {
  padding-left: 1rem;
}
.products-wrapper {
  display: flex;
}
.products-display {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 0rem;
  margin: auto;
  margin-top: 2rem;
}
product-display {
  margin: auto;
  padding: 5px;
}
