.product-card{
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: auto;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.product-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 125px;
  margin: 0;
  padding: 0;
}

.product-text {
  text-align: center;
  padding: 0;
  margin: 0;
}

.product-text h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.button-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.button-div button {
  margin: 10px;
}
.add-to-cart {
  height: fit-content;
  width: fit-content;
  padding: 4px;
}

.old-price {
  margin-left: 8px;
  text-decoration: line-through;
}
.discounted-price {
  font-weight: bold;
}
