.certificate-text-wrapper {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  margin: 0px;
  padding: 0 1rem;
  font-size: 12px;
  font-weight: 200;
}
.certificate-text-wrapper span {
  align-self: bottom;
}
.certificates-bar {
  font-family: 'Outfit', sans;
  color: white;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: fit-content;
  margin-bottom: 1rem;
  padding: 2rem 2rem;
  align-items: center;
  background-color: #5d3f3d;
}
.certificate-title {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.certificate-box {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}
.certificate-image {
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 950px) {
  .certificate-text-wrapper {
    padding: 0;
  }
  .certificate-text-wrapper p {
    display: none;
    visibility: hidden;
  }
  .certificates-bar {
    padding: 0.5em 0.5em;
    width: 100dvw;
  }
  .certificate-image {
    width: min(5vw, 3em);
    height: min(5vw, 3em);
  }
  .certificate-box {
    padding: 0;
  }
  .certificate-title {
    font-size: min(5vw, 1.5em);
    padding: 0.5em 0em;
  }
}
