.landing {
    display: flex;
    height: 25rem; 
    background-image: url('https://static.photos/640x360/12');
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-container {
    width: 50vw;
    display: vertical;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.landing-image { 
    height: 25rem;
    width: 50vw;
}

.landing-button { 
    width: 10vw;
    height: 10vh;
    background-color: beige;
    border-color: rgb(55, 55, 70);
    border-width: 4px;
    border-style: groove;
    font-weight: bolder;
}
.landing-button:hover { 
    background-color: rgb(180, 180, 218);
    border-color: rgb(87, 87, 54);
    font-style: italic;
}
.certificates-bar {
    display: flex;
    height:fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    background-color: rgb(170, 125, 88);
}
.certificate-title { 
    font-size: 24px;
    font-weight: bold;
}
.certificate-box {
    display: vertical;
    margin-right: 1rem;
    width: 20vw;
}
.certificate-image {
    margin-left: 3rem;
    margin-right:2rem;
    height: 100px;
    width: 100px;
}

.featured-head {
    text-align: center;
    margin-bottom: 3rem;
}

.featured-brands {
    display: flex;
    align-items: center;
}
.featured-image {
    margin-right: 3rem;
    margin-left: 3rem;
    width: 20vw;
    height: 20vh;
}

.reviews-head { 
    text-align: center;
}

.reviews-list  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.reviews-item {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-right: 10px;
}
.reviews-image-container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.reviews-image { 
    width: 150px;
    height: 250px;
}
.reviews-box { 
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
}
.reviews-text {
    margin-left: 20px;
    display: vertical;
    color: rgb(0, 0, 0);
}

.reviews-container {
    background-color: rgb(170, 125, 88);
}