.reviews-head { 
    text-align: center;
}
#reviews-title {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-size: 22px;
}
.reviews-list  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.reviews-item {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-right: 10px;
    width: 50%;
    height: 15rem;
}
.reviews-image-container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 24rem ;
    height: 12rem;
}
.reviews-image { 
    width: 100%;
    height: 100%;
}
.reviews-box { 
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: 'Outfit',sans-serif;
    padding-bottom: 2rem;
}
.reviews-text {
    margin-left: 20px;
    display: vertical;
    color: rgb(0, 0, 0);
}
.reviews-text h2 {
    font-weight: 400;
    font-size: 20px;
}
.reviews-container {
    background-color: #5D3F3D;
    color: white;
}