.reviews-head {
  text-align: center;
}
#reviews-title {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-size: 22px;
}
.reviews-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.reviews-item {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
  display: flex;
  margin: 0.5em;
}
.reviews-image-container {
  width: 20em;
  height: 15em;
  padding: 1em;
}
.reviews-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.reviews-box {
  display: flex;
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
  font-family: 'Outfit', sans-serif;
  padding-bottom: 2rem;
}
.reviews-text {
  width: 80%;
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0 0.5em 0 0.5em;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
}
.reviews-text h2 {
  font-weight: 400;
  font-size: 20px;
}
.reviews-container {
  background-color: #5d3f3d;
  color: white;
}
.review-star {
  width: 36px;
  height: 36px;
}
reviews-item {
  display: flex;
  flex-direction: row;
  padding: 0;
}
@media screen and (max-width: 950px) {
  reviews-item {
    flex-direction: column;
    margin: 0;
  }
  .reviews-container {
    width: 100dvw;
  }
  .reviews-list {
    overflow: hidden;
  }
  .reviews-item {
    width: 100%;
    overflow: hidden;
  }
  .review-star {
    width: 2em;
    height: 2em;
  }
  .reviews-image-container {
    width: 100%;
    height: 15em;
    padding: 0;
  }
  .reviews-image {
    margin: 0;
    padding: 0;
  }
  .reviews-box {
    margin: 0;
  }
}
