.page-container { 
    display:block;
}

.buy.buttons {
    display: vertical;
}

.images-row {
    border: 2px;
    border-color: grey;
    border-style: dotted;
    display: flex;
    width: 50vw;
}
.image-button { 
    background: none;
    color: none;
    border: none;
}
.images-list {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 0;
    list-style: none;
    display: flex;  
}

.big-image {
    width: 50vw;
    height: 60vh;
}


.small-image {
    border: 2px;
    border-style: dotted;
    width: 150px;
    height: 150px;
    margin-inline-end: 10px;
}

.top-container { 
    display: flex;
}

.product-content { 
    padding-left: 15px;
}